.section-fourth{
    padding-top: 60px;
    background: $black1;
    .section-fourth-container{
        text-align: center;
        margin: 0 3%;
        background: $white1;
        height: 500px;
        display: grid;
        grid-template-columns: 30% 70%;
        @media screen and (max-width: 770px) {
            display: block;
            background: none;
        }
        .left-part{
            background: black;
            color: $white1;
            padding: 10px;
            @media screen and (max-width: 770px) {
                height: 450px;
            }
            .left-part-container{
                border: 1px dashed $white1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                .title-section-fourth{
                    h3{
                        font-family: $font3;
                        color: $brown1;
                        font-size: 2.4rem;
                        font-weight: 100;
                    }
                    h2{
                        text-transform: uppercase;
                        margin-top: -10px;
                    }
                }
                .schedule{
                    h2{
                        color: $brown1;
                        text-transform: uppercase;
                    }
                }
                .phone-number{
                    color: $brown1;
                }
            }
        }
        .right-part{
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 770px) {
                height: 650px;
                background: $white1;
            }
            .online-booking{
                height: 60%;
                width: 70%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                h3{
                    font-family: $font3;
                    font-weight: 100;
                    font-size: 3rem;
                    color: $brown1;
                }
                h2{
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-top: -15px;
                    font-size: 2rem;
                    font-family: $font2;
                }
                img{
                    width: 30px;
                    height: 30px;
                    margin: auto;
                }
                form{
                    display: grid;
                    grid-template-columns: 33% 33% 34%;
                    grid-template-rows: 1fr 1fr 1fr;
                    gap: 15px;
                    @media screen and (max-width: 500px) {
                        display: block;
                    }
                    input, select{
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid $brown1;
                        @media screen and (max-width: 500px) {
                            display: block;
                            width: 100%;
                            margin: 20px 0;
                            padding-bottom: 10px;
                        }
                    }
                    button{
                        margin: 15px auto;
                        grid-area: 3 / 2 / 4 / 3;
                        background: black;
                        color: $white1;
                        text-transform: uppercase;
                        border-radius: 50px;
                        width: 150px;
                        letter-spacing: 3px;
                        font-weight: bold;
                        padding: 10px 0;
                        transition: 0.2s;
                        &:hover{
                            background: transparent;
                            color: black;
                            cursor: pointer;
                        }
                        @media screen and (max-width: 1000px) {
                            letter-spacing: 1px;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}