.section-second{
    height: 370px;
    background: $black1;
    @media screen and (max-width: 900px){
        height: 650px;
    }
    .section-second-container{
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: 900px){
            justify-content: flex-start;
            padding-top: 80px;
        }
        @media screen and (max-width: 770px){
            padding-top: 100px;
        }
        @media screen and (max-width: 690px){
            padding-top: 100px;
        }
        h3{
            color: $brown1;
            font-family: $font3;
            font-weight: 300;
            font-size: 2.3rem;
        }
        img{
            margin: 40px 0;
        }
        ul{
            display: flex;
            justify-content: space-between;
            width: 70%;
            p{
                color: $white1;
                border-bottom: 1px solid $white1;
                padding-bottom: 2px;
                transition: 0.2s;
                @media screen and (max-width: 500px) {
                    font-size: 0.8rem;
                }
                &:hover{
                    color: $brown1;
                    border-bottom: 1px solid $brown1;
                    cursor: pointer;
                }
            }
        }
    }
}