.section-second{
    height: 370px;
    background: $black1;
    .section-second-container{
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            color: $brown1;
            font-family: $font3;
            font-weight: 300;
            font-size: 2.3rem;
        }
        img{
            margin: 40px 0;
        }
        ul{
            display: flex;
            justify-content: space-between;
            min-width: 800px;
            width: 70%;
            p{
                color: $white1;
                border-bottom: 1px solid $white1;
                padding-bottom: 2px;
                transition: 0.2s;
                &:hover{
                    color: $brown1;
                    border-bottom: 1px solid $brown1;
                    cursor: pointer;
                }
            }
        }
    }
}