.section-fifth{
    background: $black1;
    padding-top: 70px;
    text-align: center;
    height: 1000px;
    // position: relative;
    // &::after{
    //     content: "";
    //     background: url(../img/avatar-02.jpg) center/cover;
    //     border-radius: 100px;
    //     bottom: 40px;
    //     left: 50%;
    //     transform: translate(-50%);
    //     height: 70px;
    //     width: 70px;
    //     position: absolute;
    //     z-index: 1;
    // }
    .section-fifth-container{
        height: 100%;
        flex-direction: column;
        @include center;
        h3{
            font-weight: 100;
            font-size: 2.5rem;
            color: $brown1;
            font-family: $font3;
        }
        h2{
            font-family: $font2;
            text-transform: uppercase;
            font-weight: bold;
            color: $white1;
            font-size: 2rem;
            margin-top: -10px;
        }
        img{
            margin: 20px 0;
        }
        .grid-event{
            display: grid;
            grid-template-columns: 60% 40%;
            gap: 20px;
            a,a:visited{
                font-family: $font2;
                color: $black1;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 500;
            }
            .event1{
                height: 200px;
                display: grid;
                grid-template-columns: 35% 65%;
                margin-left: 20px;
                &:first-child{
                    margin-bottom: 20px;
                }
                .left-part{
                    .event01-img{
                        background: url("../img/event-01.jpg") center/cover;
                        height: 100%;
                        @include center;
                    }
                    .event02-img{
                        background: url("../img/event-02.jpg") center/cover;
                        height: 100%;
                        @include center;
                    }
                    .center-date{
                        width: 100px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $black1;
                        h2{
                            height: 100%;
                            width: 100%;
                            margin-top: 0;
                            font-size: 0.8rem;
                            font-weight: 500;
                            font-family: $font1;
                            span{
                                font-size: 2rem;
                                font-family: $font2;
                            }
                        }
                    }
                }
                .right-part{
                    background: $white1;
                    @include center;
                    .container-right-part{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        height: 60%;
                        min-width: 350px;
                        h2{
                            color: $black1;
                            text-transform: capitalize;
                            font-weight: 100;
                            font-family: $font1;
                            margin-top: 0;
                            font-size: 1.7rem;
                        }
                        p{
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            color: lightgray;
                        }
                    }
                }
            }
            .event3{
                background: $white1;
                height: 421px;
                background: url("../img/event-03.jpg") center/cover;
                margin-bottom: -20px;
                @include center;
                .container-event3{
                    background: $white1;
                    margin: 20px;
                    height: 375px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h2{
                        color: $black1;
                        text-transform: capitalize;
                        font-weight: 100;
                        font-family: $font1;
                        margin-top: 0;
                        font-size: 1.7rem;
                    }
                    p{
                        color: lightgray;
                    }
                    a{
                        margin-bottom: 40px;
                    }
                    .header-event3{
                        background: $black1;
                        width: 100px;
                        height: 100px;
                        margin: 0 auto;
                        @include center;
                        h2{
                            color: $white1;
                            height: 100%;
                            width: 100%;
                            margin-top: 0;
                            font-size: 0.8rem;
                            font-weight: 500;
                            font-family: $font1;
                            span{
                                font-size: 2rem;
                                font-family: $font2;
                            }
                        }
                    }
                }
            }
        }
    }
}