@charset "UTF-8";
@font-face {
  font-family: AlluraRegular;
  src: url("../fonts/Allura-Regular.ttf");
}
@font-face {
  font-family: PoppinsMedium;
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: RobotLight;
  src: url("../fonts/Roboto-Light.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: RobotLight;
}

li {
  list-style-type: none;
}

header {
  background: url("../img/bg-slider-06.jpg") center/cover;
  min-height: 100vh;
  color: rgb(239, 239, 239);
}
header .header-container {
  margin: 0 14%;
}
@media screen and (max-width: 950px) {
  header .header-container {
    margin: 0 5%;
  }
}
header .header-container nav {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container nav h2 {
  font-size: 2.6rem;
  font-family: AlluraRegular;
}
header .header-container nav .menu {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  width: 70%;
}
@media screen and (max-width: 770px) {
  header .header-container nav .menu {
    display: none;
  }
}
header .header-container nav .menu li {
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: 0.2s;
}
header .header-container nav .menu li:hover {
  color: rgb(144, 102, 68);
  border-bottom: 1px solid rgb(144, 102, 68);
  cursor: pointer;
}
header .header-container nav .social-network {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
header .header-container nav .social-network li {
  transition: 0.2s;
}
header .header-container nav .social-network li:hover {
  transform: scale(1.3);
  cursor: pointer;
}
header .header-container .content-header {
  margin-top: -90px;
  height: 88vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-container .content-header h2 {
  font-family: AlluraRegular;
  color: rgb(144, 102, 68);
  font-size: 3rem;
  font-weight: 100;
}
header .header-container .content-header h1 {
  text-transform: uppercase;
  margin-top: -28px;
  font-size: 3.4rem;
  letter-spacing: 10px;
  font-weight: 600;
  font-family: PoppinsMedium;
}
header .header-container .content-header img {
  margin: 10px 0;
  height: 27px;
  width: 27px;
}
header .header-container .content-header p {
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 0.8rem;
}

.section-first {
  height: 400px;
}
.section-first .section-first-container {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 685px) {
  .section-first .section-first-container {
    grid-template-columns: 1fr;
  }
}
.section-first .section-first-container .section-first-left-part {
  background: rgb(235, 234, 234);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
@media screen and (max-width: 685px) {
  .section-first .section-first-container .section-first-left-part {
    display: block;
  }
}
.section-first .section-first-container .section-first-left-part .section-first-left-part-container {
  border: 1px dashed rgb(144, 102, 68);
  padding: 25px;
}
.section-first .section-first-container .section-first-left-part .section-first-left-part-container h3 {
  font-family: AlluraRegular;
  color: rgb(144, 102, 68);
  font-weight: 500;
  font-size: 1.9rem;
}
.section-first .section-first-container .section-first-left-part .section-first-left-part-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: PoppinsMedium;
  font-weight: 1.2rem;
  margin-top: -15px;
}
.section-first .section-first-container .section-first-left-part .section-first-left-part-container .logo {
  margin: 20px 0;
}
.section-first .section-first-container .section-first-left-part .section-first-left-part-container p {
  font-size: 0.9rem;
}
.section-first .section-first-container .section-first-left-part .section-first-left-part-container .avatar01 {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin: 15px 0;
}
.section-first .section-first-container .section-first-left-part .section-first-left-part-container .name-chef {
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  font-size: 0.8rem;
}
.section-first .section-first-container .section-first-left-part .section-first-left-part-container .name-chef span {
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: black;
}
.section-first .section-first-container .section-first-right-part {
  background: url("../img/store-01.jpg") center/cover;
}

.section-second {
  height: 370px;
  background: rgb(33, 32, 30);
}
@media screen and (max-width: 900px) {
  .section-second {
    height: 650px;
  }
}
.section-second .section-second-container {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .section-second .section-second-container {
    justify-content: flex-start;
    padding-top: 80px;
  }
}
@media screen and (max-width: 770px) {
  .section-second .section-second-container {
    padding-top: 100px;
  }
}
@media screen and (max-width: 690px) {
  .section-second .section-second-container {
    padding-top: 100px;
  }
}
.section-second .section-second-container h3 {
  color: rgb(144, 102, 68);
  font-family: AlluraRegular;
  font-weight: 300;
  font-size: 2.3rem;
}
.section-second .section-second-container img {
  margin: 40px 0;
}
.section-second .section-second-container ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.section-second .section-second-container ul p {
  color: rgb(239, 239, 239);
  border-bottom: 1px solid rgb(239, 239, 239);
  padding-bottom: 2px;
  transition: 0.2s;
}
@media screen and (max-width: 500px) {
  .section-second .section-second-container ul p {
    font-size: 0.8rem;
  }
}
.section-second .section-second-container ul p:hover {
  color: rgb(144, 102, 68);
  border-bottom: 1px solid rgb(144, 102, 68);
  cursor: pointer;
}

.section-third {
  position: relative;
}
.section-third::before {
  content: "";
  background: url("../img/bg-menu-01.jpg") center/cover;
  display: block;
  height: 660px;
}
@media screen and (max-width: 900px) {
  .section-third::before {
    height: 900px;
  }
}
.section-third .section-third-container {
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}
@media screen and (max-width: 900px) {
  .section-third .section-third-container {
    top: -350px;
  }
}
.section-third .section-third-container .menu {
  border-top: 4px solid rgb(199, 135, 52);
  background: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  min-width: 880px;
  min-height: 660px;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .section-third .section-third-container .menu {
    display: block;
    min-width: 0;
    width: 400px;
    padding: 20px;
  }
}
.section-third .section-third-container .menu .meal {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed grey;
  min-width: 400px;
}
@media screen and (max-width: 900px) {
  .section-third .section-third-container .menu .meal {
    min-width: 0;
  }
}
.section-third .section-third-container .menu .meal img {
  border-radius: 50px;
}
.section-third .section-third-container .menu .meal .ingredients span {
  text-transform: uppercase;
  font-weight: 600;
}
.section-third .section-third-container .menu .meal .price {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(144, 109, 5);
}

.section-fourth {
  padding-top: 60px;
  background: rgb(33, 32, 30);
}
.section-fourth .section-fourth-container {
  text-align: center;
  margin: 0 3%;
  background: rgb(239, 239, 239);
  height: 500px;
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 770px) {
  .section-fourth .section-fourth-container {
    display: block;
    background: none;
  }
}
.section-fourth .section-fourth-container .left-part {
  background: black;
  color: rgb(239, 239, 239);
  padding: 10px;
}
@media screen and (max-width: 770px) {
  .section-fourth .section-fourth-container .left-part {
    height: 450px;
  }
}
.section-fourth .section-fourth-container .left-part .left-part-container {
  border: 1px dashed rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.section-fourth .section-fourth-container .left-part .left-part-container .title-section-fourth h3 {
  font-family: AlluraRegular;
  color: rgb(144, 102, 68);
  font-size: 2.4rem;
  font-weight: 100;
}
.section-fourth .section-fourth-container .left-part .left-part-container .title-section-fourth h2 {
  text-transform: uppercase;
  margin-top: -10px;
}
.section-fourth .section-fourth-container .left-part .left-part-container .schedule h2 {
  color: rgb(144, 102, 68);
  text-transform: uppercase;
}
.section-fourth .section-fourth-container .left-part .left-part-container .phone-number {
  color: rgb(144, 102, 68);
}
.section-fourth .section-fourth-container .right-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 770px) {
  .section-fourth .section-fourth-container .right-part {
    height: 650px;
    background: rgb(239, 239, 239);
    position: relative;
  }
}
.section-fourth .section-fourth-container .right-part .online-booking {
  height: 60%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.section-fourth .section-fourth-container .right-part .online-booking h3 {
  font-family: AlluraRegular;
  font-weight: 100;
  font-size: 3rem;
  color: rgb(144, 102, 68);
}
.section-fourth .section-fourth-container .right-part .online-booking h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -15px;
  font-size: 2rem;
  font-family: PoppinsMedium;
}
.section-fourth .section-fourth-container .right-part .online-booking img {
  width: 30px;
  height: 30px;
  margin: auto;
}
.section-fourth .section-fourth-container .right-part .online-booking form {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}
@media screen and (max-width: 500px) {
  .section-fourth .section-fourth-container .right-part .online-booking form {
    display: block;
  }
}
.section-fourth .section-fourth-container .right-part .online-booking form input, .section-fourth .section-fourth-container .right-part .online-booking form select {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(144, 102, 68);
}
@media screen and (max-width: 500px) {
  .section-fourth .section-fourth-container .right-part .online-booking form input, .section-fourth .section-fourth-container .right-part .online-booking form select {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding-bottom: 10px;
  }
}
.section-fourth .section-fourth-container .right-part .online-booking form button {
  margin: 15px auto;
  grid-area: 3/2/4/3;
  background: black;
  color: rgb(239, 239, 239);
  text-transform: uppercase;
  border-radius: 50px;
  width: 150px;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 10px 0;
  transition: 0.2s;
}
.section-fourth .section-fourth-container .right-part .online-booking form button:hover {
  background: transparent;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .section-fourth .section-fourth-container .right-part .online-booking form button {
    letter-spacing: 1px;
    width: 120px;
  }
}

.section-fifth {
  background: rgb(33, 32, 30);
  text-align: center;
  height: 850px;
  padding-top: 70px;
}
@media screen and (max-width: 770px) {
  .section-fifth {
    background: none;
    z-index: -1;
    background: rgb(33, 32, 30);
  }
}
.section-fifth .section-fifth-container {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-fifth .section-fifth-container h3 {
  font-weight: 100;
  font-size: 2.5rem;
  color: rgb(144, 102, 68);
  font-family: AlluraRegular;
}
.section-fifth .section-fifth-container h2 {
  font-family: PoppinsMedium;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(239, 239, 239);
  font-size: 2rem;
  margin-top: -10px;
}
.section-fifth .section-fifth-container img {
  margin: 20px 0;
}
@media screen and (max-width: 770px) {
  .section-fifth .section-fifth-container {
    display: none;
  }
}
.section-fifth .section-fifth-container .grid-event {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}
.section-fifth .section-fifth-container .grid-event a, .section-fifth .section-fifth-container .grid-event a:visited {
  font-family: PoppinsMedium;
  color: rgb(33, 32, 30);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
.section-fifth .section-fifth-container .grid-event .event1 {
  height: 200px;
  display: grid;
  grid-template-columns: 35% 65%;
}
.section-fifth .section-fifth-container .grid-event .event1:first-child {
  margin-bottom: 20px;
}
.section-fifth .section-fifth-container .grid-event .event1 .left-part .event01-img {
  background: url("../img/event-01.jpg") center/cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-fifth .section-fifth-container .grid-event .event1 .left-part .event02-img {
  background: url("../img/event-02.jpg") center/cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-fifth .section-fifth-container .grid-event .event1 .left-part .center-date {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(33, 32, 30);
}
.section-fifth .section-fifth-container .grid-event .event1 .left-part .center-date h2 {
  height: 100%;
  width: 100%;
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: RobotLight;
}
.section-fifth .section-fifth-container .grid-event .event1 .left-part .center-date h2 span {
  font-size: 2rem;
  font-family: PoppinsMedium;
}
.section-fifth .section-fifth-container .grid-event .event1 .right-part {
  background: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-fifth .section-fifth-container .grid-event .event1 .right-part .container-right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 60%;
}
.section-fifth .section-fifth-container .grid-event .event1 .right-part .container-right-part h2 {
  color: rgb(33, 32, 30);
  text-transform: capitalize;
  font-weight: 100;
  font-family: RobotLight;
  margin-top: 0;
  font-size: 1.7rem;
}
.section-fifth .section-fifth-container .grid-event .event1 .right-part .container-right-part p {
  color: lightgray;
}
.section-fifth .section-fifth-container .grid-event .event3 {
  background: rgb(239, 239, 239);
  height: 421px;
  width: 93%;
  background: url("../img/event-03.jpg") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-fifth .section-fifth-container .grid-event .event3 .container-event3 {
  background: rgb(239, 239, 239);
  margin: 20px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-fifth .section-fifth-container .grid-event .event3 .container-event3 h2 {
  color: rgb(33, 32, 30);
  text-transform: capitalize;
  font-weight: 100;
  font-family: RobotLight;
  margin-top: 0;
  font-size: 1.7rem;
}
.section-fifth .section-fifth-container .grid-event .event3 .container-event3 p {
  color: lightgray;
}
.section-fifth .section-fifth-container .grid-event .event3 .container-event3 a {
  margin-bottom: 40px;
}
.section-fifth .section-fifth-container .grid-event .event3 .container-event3 .header-event3 {
  background: rgb(33, 32, 30);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-fifth .section-fifth-container .grid-event .event3 .container-event3 .header-event3 h2 {
  color: rgb(239, 239, 239);
  height: 100%;
  width: 100%;
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: RobotLight;
}
.section-fifth .section-fifth-container .grid-event .event3 .container-event3 .header-event3 h2 span {
  font-size: 2rem;
  font-family: PoppinsMedium;
}

.section-sixth {
  position: relative;
  text-align: center;
}
.section-sixth:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(../img/gmap.jpg) center/cover;
  left: 0;
  bottom: 0;
}
.section-sixth .quote-container {
  background: rgb(239, 239, 239);
  z-index: 3;
  position: relative;
  max-width: 1000px;
  bottom: 150px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 70px;
  box-shadow: 0 0 3px #333;
}
.section-sixth .quote-container:before {
  content: "";
  position: absolute;
  background: url(../img/avatar-02.jpg) center/cover;
  height: 60px;
  width: 60px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}
.section-sixth .quote-container .text-container {
  line-height: 15px;
}
.section-sixth .quote-container .text-container:before {
  content: "❝";
}
.section-sixth .quote-container .text-container:after {
  content: "❞";
}
.section-sixth .quote-container .text-container:before, .section-sixth .quote-container .text-container:after {
  font-size: 1.5rem;
}
.section-sixth .quote-container h2 {
  margin: 30px 0 15px;
  font-family: RobotLight;
  font-weight: 100;
}
.section-sixth .quote-container p {
  color: rgb(144, 102, 68);
}

footer {
  background: url(../img/bg-footer.jpg) center/cover;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 200px;
}
@media screen and (max-width: 610px) {
  footer {
    height: 250px;
    background: rgb(33, 32, 30);
    grid-template-columns: 1fr;
  }
}
footer .left-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 610px) {
  footer .left-part {
    display: none;
  }
}
footer .left-part .container-left-part {
  width: 70%;
  margin: 0 auto;
}
footer .left-part .container-left-part h3 {
  font-weight: 100;
  font-size: 2rem;
  color: rgb(144, 102, 68);
  font-family: AlluraRegular;
}
footer .left-part .container-left-part p {
  color: rgb(239, 239, 239);
  width: 100%;
  font-size: 0.9rem;
  line-height: 25px;
}
footer .right-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .right-part .container-right-part {
  width: 70%;
  height: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .right-part .container-right-part h2 {
  color: rgb(239, 239, 239);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.9rem;
}
footer .right-part .container-right-part input {
  width: 50%;
  background: transparent;
  padding: 5px;
  border: 1px solid rgb(66, 66, 66);
}
footer .right-part .container-right-part ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
footer .right-part .container-right-part ul li {
  color: rgb(239, 239, 239);
  transition: 0.2s;
}
footer .right-part .container-right-part ul li:hover {
  transform: scale(1.3);
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */